<a href="https://colab.research.google.com/github/kim-minsol/MachineLearning2021-study/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas - Series

In [ ]:
# Pandas 라이브러리 로딩
import pandas as pd

# 설치된 버전 출력
print(pd.__version__)

'''
# 리스트 데이터로 Series 객체 생성하기
(아래 주석#을 지우고 _____ 란에 실습을 시작하세요.)
'''
year = ['2019', '2020', '2021', '2022']
result = pd.Series(data=year)

print('\nType:', type(result))
print(result)


'''
# Series 객체의 주요 속성
(아래 주석#을 지우고 _____ 란에 실습을 시작하세요.)
'''
print('\nIndex: ', result.index )
print('Data: ', result.values )
print('DType: ', result.dtype )
print('Shape: ', result.shape )
print('\n')


'''
# Series 객체의 이름 지정
(아래 주석#을 지우고 _____ 란에 실습을 시작하세요.)
'''
result.name = 'Year'
result.index.name = 'No.'
print(result)
print('\n')


'''
# 인덱스 추가하여 Series 객체 생성하기
(아래 주석#을 지우고 _____ 란에 실습을 시작하세요.)
'''
year = ['2019', '2020', '2021', '2022']
idx = ['a', 'b', 'c', 'd']
result = pd.Series(data=year, index=idx, name='Year')
print(result)
print('\n')


'''
# 딕셔너리 데이터로 Series 객체 생성하기
(아래 주석#을 지우고 _____ 란에 실습을 시작하세요.)
'''
score = {'Kim':85, 'Han':89, 'Lee':99, 'Choi':70}
result = pd.Series(data=score, name='Score')
print(result)

1.1.5

Type: <class 'pandas.core.series.Series'>
0    2019
1    2020
2    2021
3    2022
dtype: object

Index:  RangeIndex(start=0, stop=4, step=1)
Data:  ['2019' '2020' '2021' '2022']
DType:  object
Shape:  (4,)


No.
0    2019
1    2020
2    2021
3    2022
Name: Year, dtype: object


a    2019
b    2020
c    2021
d    2022
Name: Year, dtype: object


Kim     85
Han     89
Lee     99
Choi    70
Name: Score, dtype: int64

Pandas - DataFrame

In [ ]:
import pandas as pd

'''
# 파이썬 딕셔너리 객체 이용하여 DataFrame 생성하기
(아래 주석#을 지우고 _____ 란에 실습을 시작하세요.)
'''
score = {'name': ['Jessi', 'Emma', 'Alex', 'Tom'],
         'score': [100, 95, 80, 85],
         'grade': ['A', 'A', 'B', 'B']}
        
df = pd.DataFrame(data=score)
print(type(df))
print(df)


'''
# DataFrame 주요 속성 실습-1
(아래 주석#을 지우고 _____ 란에 실습을 시작하세요.)
'''
print('-Index: ', df.index)
print('-Columns: ', df.columns)
print('-Values:\n', df.values)


'''
# DataFrame 주요 속성 실습-2
(아래 주석#을 지우고 _____ 란에 실습을 시작하세요.)
'''
print('-DTypes:\n', df.dtypes)
print('-Shape: ', df.shape)
print('\n')


'''
# index, columns 지정하여 DataFrame 생성하기
(아래 주석#을 지우고 _____ 란에 실습을 시작하세요.)
'''
score = {'name': ['Jessi', 'Emma', 'Alex', 'Tom'],
         'score': [100, 95, 80, 85],
         'grade': ['A', 'A', 'B', 'B']}     
i = ['a', 'b', 'c', 'd']
c = ['score', 'grade', 'name', 'email']
        
df = pd.DataFrame(data=score, index=i, columns=c)
print(df)

<class 'pandas.core.frame.DataFrame'>
    name  score grade
0  Jessi    100     A
1   Emma     95     A
2   Alex     80     B
3    Tom     85     B
-Index:  RangeIndex(start=0, stop=4, step=1)
-Columns:  Index(['name', 'score', 'grade'], dtype='object')
-Values:
 [['Jessi' 100 'A']
 ['Emma' 95 'A']
 ['Alex' 80 'B']
 ['Tom' 85 'B']]
-DTypes:
 name     object
score     int64
grade    object
dtype: object
-Shape:  (4, 3)


   score grade   name email
a    100     A  Jessi   NaN
b     95     A   Emma   NaN
c     80     B   Alex   NaN
d     85     B    Tom   NaN

Pandas - Dataframe 생성 실습

In [ ]:
import pandas as pd
import numpy as np

'''
주어진 series 데이터를 이용하여 DataFame 을 생성하세요.
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
series = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
          'two': pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

result = pd.DataFrame(data=series)
print(result)
print('\n')


'''
딕셔너리가 저장된 리스트 객체(data)를 이용하여
index 가 있는 DataFrame 을 생성하세요.
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
idx = ['row1', 'row2']

result = pd.DataFrame(data, index=idx)
print(result)
print('\n')


'''
주어진 ndarray 데이터를 이용하여 
index 와  column이 지정된 DataFrame 을 생성하세요.
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
col = ['col1', 'col2', 'col3']
idx = ['row1', 'row2', 'row2']

result = pd.DataFrame(arr, columns=col, index=idx)
print(result)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4


      a   b     c
row1  1   2   NaN
row2  5  10  20.0


      col1  col2  col3
row1     1     2     3
row2     4     5     6
row2     7     8     9

DataFrame 데이터 살펴보기

In [ ]:
import pandas as pd

# 실습 데이터 생성
score = {'name': ['Jessi', 'Emma', 'Alex', 'Jessi', 'Tom'],
         'score': [100, 95, 80, 85, 97],
         'grade': ['A', 'A', 'B', 'B', 'A'],
         'subject':['python', 'java', 'python', 'c', 'java']}

score_df = pd.DataFrame(data=score)
print(score_df)


'''
.info() 함수 실습
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n<Summary of DataFrame>')
print(score_df.info())


'''
.head() 함수 실습
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n<Return the first n rows>')
print(score_df.head(3))


'''
.tail() 함수 실습
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n<Return the last n rows>')
print(score_df.tail(2))


'''
.sample() 함수 실습
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n<Return a random sample>')
print(score_df.sample())


'''
.sample() 함수의 random_state 인자 실습
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n<Return a random sample with random_state>')
print(score_df.sample(2, random_state=10))


'''
.sample() 함수의 flac 인자 실습
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n<Return a random sample with flac 50%>')
print(score_df.sample(frac=0.5))

    name  score grade subject
0  Jessi    100     A  python
1   Emma     95     A    java
2   Alex     80     B  python
3  Jessi     85     B       c
4    Tom     97     A    java

<Summary of DataFrame>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     5 non-null      object
 1   score    5 non-null      int64
 2   grade    5 non-null      object
 3   subject  5 non-null      object
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes
None

<Return the first n rows>
    name  score grade subject
0  Jessi    100     A  python
1   Emma     95     A    java
2   Alex     80     B  python

<Return the last n rows>
    name  score grade subject
3  Jessi     85     B       c
4    Tom     97     A    java

<Return a random sample>
    name  score grade subject
3  Jessi     85     B       c

<Return a random sample with random_state>
    name  score grade subject
2   Alex     80     B  python
3  Jessi     85     B       c

<Return a random sample with flac 50%>
   name  score grade subject
4   Tom     97     A    java
1  Emma     95     A    java

수치형/범주형 데이터

In [ ]:
import pandas as pd

# 실습 데이터 생성
score = {'name': ['Jessi', 'Emma', 'Alex', 'Jessi', 'Tom'],
         'age': [20, 24, 23, 20, 27],
         'score': [100, 95, 80, 85, 97],
         'grade': ['A', 'A', 'B', 'B', 'A'],
         'subject':['python', 'java', 'python', 'c', 'java']}

score_df = pd.DataFrame(data=score)
print(score_df)


'''
describe() 함수 실습
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print("\nGenerate Descriptive Statistics")
print(score_df.describe())


'''
범주형 데이터에 대한 describe() 함수 실습
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print("\nGenerate Descriptive Statistics for Categorical")
print(score_df[['grade','subject']].describe())


'''
describe(include='all') 함수 실습
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print("\nGenerate Descriptive Statistics")
print(score_df.describe(include='all'))


'''
범주형 데이터를 위한 unique() 함수 실습
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print("\nThe Unique Values")
print(score_df['subject'].unique())


'''
범주형 데이터를 위한 value_counts() 함수 실습
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print("\nThe Value Counts")
print(score_df['subject'].value_counts())


print("\nThe Value Counts-normalize")
print(score_df['subject'].value_counts(normalize=True))

    name  age  score grade subject
0  Jessi   20    100     A  python
1   Emma   24     95     A    java
2   Alex   23     80     B  python
3  Jessi   20     85     B       c
4    Tom   27     97     A    java

Generate Descriptive Statistics
             age       score
count   5.000000    5.000000
mean   22.800000   91.400000
std     2.949576    8.502941
min    20.000000   80.000000
25%    20.000000   85.000000
50%    23.000000   95.000000
75%    24.000000   97.000000
max    27.000000  100.000000

Generate Descriptive Statistics for Categorical
       grade subject
count      5       5
unique     2       3
top        A  python
freq       3       2

Generate Descriptive Statistics
         name        age       score grade subject
count       5   5.000000    5.000000     5       5
unique      4        NaN         NaN     2       3
top     Jessi        NaN         NaN     A  python
freq        2        NaN         NaN     3       2
mean      NaN  22.800000   91.400000   NaN     NaN
std       NaN   2.949576    8.502941   NaN     NaN
min       NaN  20.000000   80.000000   NaN     NaN
25%       NaN  20.000000   85.000000   NaN     NaN
50%       NaN  23.000000   95.000000   NaN     NaN
75%       NaN  24.000000   97.000000   NaN     NaN
max       NaN  27.000000  100.000000   NaN     NaN

The Unique Values
['python' 'java' 'c']

The Value Counts
python    2
java      2
c         1
Name: subject, dtype: int64

The Value Counts-normalize
python    0.4
java      0.4
c         0.2
Name: subject, dtype: float64

DataFrame 조회 및 변경

In [ ]:
import pandas as pd

# 실습 데이터 생성
score = {'name': ['Jessi', 'Emma', 'Alex', 'Jessi', 'Tom'],
         'score': [100, 95, 80, 85, 97],
         'grade': ['A', 'A', 'B', 'B', 'A'],
         'subject':['python', 'java', 'python', 'c', 'java']}
c = ['name', 'subject', 'score', 'grade', 'etc']

df = pd.DataFrame(data=score, columns=c)
print(df)


'''
인덱싱 기법과 . 연산자로 열 데이터 조회 실습
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\nColumns : name')
print(df['name'])

print('\nColumns : name')
print(df.name)


'''
df.name 의 타입 출력하여 확인
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\nType:', type(df['name']))


'''
다중 열 데이터 조회 실습
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\nColumns : name-subject-grade')
print(df[['name','subject','grade']])

'''
etc 열 데이터 변경하기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\nModify Column Data')
df['etc']=0
print(df)


'''
loc 이용하여 행 데이터 조회 실습
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\nRows-1')
print(df.loc[1])


'''
loc 이용하여 다중 행 데이터 조회 실습
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\nRows-0,2,4')
print(df.loc[[0,2,4]])


'''
특정 행 데이터 변경 실습
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\nModify Rows0')
df.loc[0] = ['Jessi', 'java', 70, 'C', 1]
print(df)


'''
행과 열의 조건을 동시에 지정하여 조회 실습
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
row_idx = [1,2,4]
col_idx = ['name', 'subject', 'grade']
print('\nRows & Columns')
print(df.loc[row_idx, col_idx])

    name subject  score grade  etc
0  Jessi  python    100     A  NaN
1   Emma    java     95     A  NaN
2   Alex  python     80     B  NaN
3  Jessi       c     85     B  NaN
4    Tom    java     97     A  NaN

Columns : name
0    Jessi
1     Emma
2     Alex
3    Jessi
4      Tom
Name: name, dtype: object

Columns : name
0    Jessi
1     Emma
2     Alex
3    Jessi
4      Tom
Name: name, dtype: object

Type: <class 'pandas.core.series.Series'>

Columns : name-subject-grade
    name subject grade
0  Jessi  python     A
1   Emma    java     A
2   Alex  python     B
3  Jessi       c     B
4    Tom    java     A

Modify Column Data
    name subject  score grade  etc
0  Jessi  python    100     A    0
1   Emma    java     95     A    0
2   Alex  python     80     B    0
3  Jessi       c     85     B    0
4    Tom    java     97     A    0

Rows-1
name       Emma
subject    java
score        95
grade         A
etc           0
Name: 1, dtype: object

Rows-0,2,4
    name subject  score grade  etc
0  Jessi  python    100     A    0
2   Alex  python     80     B    0
4    Tom    java     97     A    0

Modify Rows0
    name subject  score grade  etc
0  Jessi    java     70     C    1
1   Emma    java     95     A    0
2   Alex  python     80     B    0
3  Jessi       c     85     B    0
4    Tom    java     97     A    0

Rows & Columns
   name subject grade
1  Emma    java     A
2  Alex  python     B
4   Tom    java     A

DataFrame 데이터 추가/삭제

In [ ]:
import pandas as pd

# 실습 데이터 생성
score = {'name': ['Jessi', 'Emma', 'Alex', 'Jessi', 'Tom'],
         'score': [100, 95, 80, 85, 97],
         'grade': ['A', 'A', 'B', 'B', 'A'],
         'subject':['python', 'java', 'python', 'c', 'java']}
c = ['name', 'subject', 'score', 'grade', 'etc']

df = pd.DataFrame(data=score, columns=c)
print(df)


'''
Series 객체 생성하여 'semester' 라는 열 추가
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
semester_data = pd.Series(['20-01', '20-01', '20-02', '20-01'])
df['semester'] = semester_data

print('\nAdd Columns : semester')
print(df)


'''
연산 이용하여 'high_score' 라는 열 추가
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
df['high_score'] = df['score'] > 90 

print('\nAdd Columns : high_score')
print(df)


'''
6 번 인덱스에 행 데이터 추가
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
df.loc[6] = ['Jina', 'python', 100, 'A', 1, '20-02', True]

print('\nAdd Row 6')
print(df)


'''
1) drop() 이용하여 행 데이터 삭제
2) inplace 인자를 사용하여 원본 데이터에 바로 삭제
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
df.drop(6, inplace=True) 

print('\nDelete Row : 6')
print(df)


'''
drop() 이용하여 'etc' 열 삭제 (원본데이터변경)
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
df.drop(columns=['etc'], inplace=True)

print('\nDelete Column :')
print(df)

    name subject  score grade  etc
0  Jessi  python    100     A  NaN
1   Emma    java     95     A  NaN
2   Alex  python     80     B  NaN
3  Jessi       c     85     B  NaN
4    Tom    java     97     A  NaN

Add Columns : semester
    name subject  score grade  etc semester
0  Jessi  python    100     A  NaN    20-01
1   Emma    java     95     A  NaN    20-01
2   Alex  python     80     B  NaN    20-02
3  Jessi       c     85     B  NaN    20-01
4    Tom    java     97     A  NaN      NaN

Add Columns : high_score
    name subject  score grade  etc semester  high_score
0  Jessi  python    100     A  NaN    20-01        True
1   Emma    java     95     A  NaN    20-01        True
2   Alex  python     80     B  NaN    20-02       False
3  Jessi       c     85     B  NaN    20-01       False
4    Tom    java     97     A  NaN      NaN        True

Add Row 6
    name subject  score grade  etc semester  high_score
0  Jessi  python    100     A  NaN    20-01        True
1   Emma    java     95     A  NaN    20-01        True
2   Alex  python     80     B  NaN    20-02       False
3  Jessi       c     85     B  NaN    20-01       False
4    Tom    java     97     A  NaN      NaN        True
6   Jina  python    100     A    1    20-02        True

Delete Row : 6
    name subject  score grade  etc semester  high_score
0  Jessi  python    100     A  NaN    20-01        True
1   Emma    java     95     A  NaN    20-01        True
2   Alex  python     80     B  NaN    20-02       False
3  Jessi       c     85     B  NaN    20-01       False
4    Tom    java     97     A  NaN      NaN        True

Delete Column :
    name subject  score grade semester  high_score
0  Jessi  python    100     A    20-01        True
1   Emma    java     95     A    20-01        True
2   Alex  python     80     B    20-02       False
3  Jessi       c     85     B    20-01       False
4    Tom    java     97     A      NaN        True

데이터 파일 읽어오기

In [ ]:
import pandas as pd


'''
titanic_train.csv 파일을 읽어오세요.
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
url = 'https://codepresso-online-platform-public.s3.ap-northeast-2.amazonaws.com/learning-resourse/titanic_train.csv'
titanic_df = pd.read_csv(url)
print(type(titanic_df))


'''
읽어온 데이터의 info 를 출력해보세요.
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\nSummary of DataFrame')
print(titanic_df.info())


'''
읽어온 데이터의 행 데이터 5개를 출력해보세요.
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\nReturn the first n rows')
print(titanic_df.head(5))


# students_score.xlsx 이 저장된 url
url = 'https://codepresso-online-platform-public.s3.ap-northeast-2.amazonaws.com/learning-resourse/python-data-analysis/students_score.xlsx'


'''
엑셀 파일에서 데이터 읽기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\nRead students_score.xlsx')
sample_df = pd.read_excel(url)
print(sample_df)


'''
1) header=none 옵션으로 컬럼 없이 데이터 읽기
2) df.columns 에 새로운 컬럼명 저장하기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
sample_df = pd.read_excel(url, header=2)
sample_df.columns = ['name', 'age', 'score', 'grade', 'subject']

print('\nRead Excel by header=none')
print(sample_df)


'''
'students' sheet 에 있는 데이터 읽기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\nRead Excel on students sheet')
student_df = pd.read_excel(url, sheet_name='students')
print(student_df)

<class 'pandas.core.frame.DataFrame'>

Summary of DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

Return the first n rows
   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

Read students_score.xlsx
   Jessi  20  100  A  python
0   Emma  24   95  A    java
1   Alex  23   80  B  python
2  Jessi  20   85  B       c
3    Tom  27   97  A    java
4    Sia  28   79  C  python

Read Excel by header=none
    name  age  score grade subject
0  Jessi   20     85     B       c
1    Tom   27     97     A    java
2    Sia   28     79     C  python

Read Excel on students sheet
    name  age  etc1  etc2  etc3                email
0    Lee   25   0.1   0.1   0.1    lee@codepresso.kr
1  Hwang   24   0.1   0.1   0.1  hwang@codepresso.kr
2    Kim   28   0.1   0.1   0.1    kim@codepresso.kr
3   Choi   27   0.1   0.1   0.1   choi@codepresso.kr
4   Park   21   0.1   0.1   0.1   park@codepresso.kr
5    Lim   20   0.1   0.1   0.1    lim@codepresso.kr

결측치 처리 (1)

In [ ]:
import pandas as pd
import numpy as np

# 실습 데이터 생성
df = pd.DataFrame(data = np.arange(18).reshape(6,3),
				  index = ['a','b','c','d','e','f'],
                  columns=['col1','col2','col3'])
                  
df['col4'] = pd.Series(data = [1.7, 1.2, 2.4], 
                       index = ['a','e','c'])
df.loc['c'] = None
print('Sample Data')
print(df)


'''
df.info() 함수로 결측치 유무 확인하기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#1 Summary of DataFrame')
print(df.info())


'''
df.isnull() 함수로 결측치 유무 확인하기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#2 isnull of DataFrame')
print(df.isnull())


'''
df.isnull().sum() 함수로 결측치 유무 확인하기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#4 Sum of all missing values per columns')
print(df.isnull().sum())


'''
df.isnull().sum() 함수에서 데이터 집계 방향 바꾸기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#5 Sum of all missing values per rows')
print(df.isnull().sum(axis=1))

Sample Data
   col1  col2  col3  col4
a   0.0   1.0   2.0   1.7
b   3.0   4.0   5.0   NaN
c   NaN   NaN   NaN   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   1.2
f  15.0  16.0  17.0   NaN

#1 Summary of DataFrame
<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, a to f
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    5 non-null      float64
 1   col2    5 non-null      float64
 2   col3    5 non-null      float64
 3   col4    2 non-null      float64
dtypes: float64(4)
memory usage: 400.0+ bytes
None

#2 isnull of DataFrame
    col1   col2   col3   col4
a  False  False  False  False
b  False  False  False   True
c   True   True   True   True
d  False  False  False   True
e  False  False  False  False
f  False  False  False   True

#4 Sum of all missing values per columns
col1    1
col2    1
col3    1
col4    4
dtype: int64

#5 Sum of all missing values per rows
a    0
b    1
c    4
d    1
e    0
f    1
dtype: int64

결측치 처리 (2)

In [ ]:
import pandas as pd
import numpy as np

# 실습 데이터 생성
df = pd.DataFrame(data = np.arange(18).reshape(6,3),
				  index = ['a','b','c','d','e','f'],
                  columns=['col1','col2','col3'])
                  
df['col4'] = pd.Series(data = [1.7, 1.2, 2.4], 
                       index = ['a','e','c'])
df.loc['c'] = None
print('Sample Data')
print(df)

 
'''
1) 행을 기준으로 결측치 조회하여 제거하기
2) how=all 인자로 전체 nan 인 경우만 제거하기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#1 Remove missing values')
print(df.dropna(how='all'))


'''
원본 데이터에 반영하기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#2 Remove missing values with inpalce=True')
df.dropna(how='all', inplace=True)
print(df)

 
'''
열을 기준으로 결측치 조회하여 제거하기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#3 Remove missing values in columns')
print(df.dropna(axis='columns'))

 
'''
주석(#)만 지우시고 실습 데이터를 추가하세요.
'''
df.iloc[:2, 0] = np.nan
df.iloc[:4, 1] = np.nan
print('\nSample Data')
print(df)


'''
결측값을 0 으로 대체하기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#4 Replace missing values')
print(df.fillna(0))
'''
** 0이 실수인 이유 - 해당 시리즈와 같은 데이터 타입이어야 함
'''

'''
딕셔너리를 활용한 컬럼별 대체값 지정하기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#5 Replace missing values')
replace_set = {'col2':0,'col4':'100'}
print(df.fillna(replace_set))


'''
1)대표값인 평균을 활용하여 결측치 대체하기
2)원본 데이터에 반영하기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#6 Replace missing values')
replace_set = {'col1':df['col1'].mean()}
df.fillna(replace_set, inplace=True)
print(df)

Sample Data
   col1  col2  col3  col4
a   0.0   1.0   2.0   1.7
b   3.0   4.0   5.0   NaN
c   NaN   NaN   NaN   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   1.2
f  15.0  16.0  17.0   NaN

#1 Remove missing values
   col1  col2  col3  col4
a   0.0   1.0   2.0   1.7
b   3.0   4.0   5.0   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   1.2
f  15.0  16.0  17.0   NaN

#2 Remove missing values with inpalce=True
   col1  col2  col3  col4
a   0.0   1.0   2.0   1.7
b   3.0   4.0   5.0   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   1.2
f  15.0  16.0  17.0   NaN

#3 Remove missing values in columns
   col1  col2  col3
a   0.0   1.0   2.0
b   3.0   4.0   5.0
d   9.0  10.0  11.0
e  12.0  13.0  14.0
f  15.0  16.0  17.0

Sample Data
   col1  col2  col3  col4
a   NaN   NaN   2.0   1.7
b   NaN   NaN   5.0   NaN
d   9.0   NaN  11.0   NaN
e  12.0   NaN  14.0   1.2
f  15.0  16.0  17.0   NaN

#4 Replace missing values
   col1  col2  col3  col4
a   0.0   0.0   2.0   1.7
b   0.0   0.0   5.0   0.0
d   9.0   0.0  11.0   0.0
e  12.0   0.0  14.0   1.2
f  15.0  16.0  17.0   0.0

#5 Replace missing values
   col1  col2  col3 col4
a   NaN   0.0   2.0  1.7
b   NaN   0.0   5.0  100
d   9.0   0.0  11.0  100
e  12.0   0.0  14.0  1.2
f  15.0  16.0  17.0  100

#6 Replace missing values
   col1  col2  col3  col4
a  12.0   NaN   2.0   1.7
b  12.0   NaN   5.0   NaN
d   9.0   NaN  11.0   NaN
e  12.0   NaN  14.0   1.2
f  15.0  16.0  17.0   NaN

데이터 조회 : 인덱싱

In [ ]:
import pandas as pd

# 실습 데이터 생성
d = {'name': ['Jessi', 'Emma', 'Alex', 'Jessi', 'Tom'],
     'score': [100, 95, 80, 85, 97],
     'grade': ['A', 'A', 'B', 'B', 'A'],
     'subject':['python', 'java', 'python', 'c', 'java']}

df = pd.DataFrame(data=d)
print('Sample Data')
print(df)


'''
name 컬럼을 행 인덱스로 바꾸기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#1 Set Index')
df.set_index('name', inplace=True)
print(df)
  

'''
loc[] 를 통해 행 데이터 조회하기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#2 Access rows')
subset = df.loc[['Jessi', 'Emma']]
print(subset)


'''
iloc[] 를 통해 행 데이터 조회하기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#3 Access rows by index position')
subset = df.iloc[[0,4]]
print(subset)


'''
loc[] 의 활용 : Boolean Indexing
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#4 Access rows by boolean indexing')
subset = df.loc[df['score'] >= 95]
print(subset)


'''
loc[] 의 활용 : Boolean Indexing
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#5 Access rows by boolean indexing')
subset = df.loc[df['subject'] == 'python']
print(subset)

Sample Data
    name  score grade subject
0  Jessi    100     A  python
1   Emma     95     A    java
2   Alex     80     B  python
3  Jessi     85     B       c
4    Tom     97     A    java

#1 Set Index
       score grade subject
name
Jessi    100     A  python
Emma      95     A    java
Alex      80     B  python
Jessi     85     B       c
Tom       97     A    java

#2 Access rows
       score grade subject
name
Jessi    100     A  python
Jessi     85     B       c
Emma      95     A    java

#3 Access rows by index position
       score grade subject
name
Jessi    100     A  python
Tom       97     A    java

#4 Access rows by boolean indexing
       score grade subject
name
Jessi    100     A  python
Emma      95     A    java
Tom       97     A    java

#5 Access rows by boolean indexing
       score grade subject
name
Jessi    100     A  python
Alex      80     B  python

데이터 슬라이싱

In [ ]:
import pandas as pd

# 실습 데이터 생성
d = {'name': ['Jessi', 'Emma', 'Alex', 'Jessi', 'Tom'],
     'score': [100, 95, 80, 85, 97],
     'grade': ['A', 'A', 'B', 'B', 'A'],
     'subject':['python', 'java', 'python', 'c', 'java']}

sample_df = pd.DataFrame(data=d)
sample_df.set_index('name', inplace=True)

print('Sample Data')
print(sample_df)


'''
기본 슬라이싱 기법을 통한 행 데이터 조회#1
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#1 Access Rows by slicing')
subset = sample_df[1:4]
print(subset)


'''
기본 슬라이싱 기법을 통한 행 데이터 조회#2
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#2 Access Rows by slicing')
subset = sample_df[::2]
print(subset)


'''
기본 슬라이싱 기법을 통한 행 데이터 조회#3
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#3 Access Rows by slicing')
subset = sample_df[:'Alex']
print(subset)


'''
loc 프로퍼티 활용한 슬라이싱 실습
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#4 Access Rows by loc[slicing]')
subset = sample_df.loc[:'Emma', ['subject' , 'grade']] 
print(subset)


'''
iloc 프로퍼티 활용한 슬라이싱 실습
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#5 Access Rows by iloc[slicing]')
subset = sample_df.iloc[:4 , -1]
print(subset)

Sample Data
       score grade subject
name
Jessi    100     A  python
Emma      95     A    java
Alex      80     B  python
Jessi     85     B       c
Tom       97     A    java

#1 Access Rows by slicing
       score grade subject
name
Emma      95     A    java
Alex      80     B  python
Jessi     85     B       c

#2 Access Rows by slicing
       score grade subject
name
Jessi    100     A  python
Alex      80     B  python
Tom       97     A    java

#3 Access Rows by slicing
       score grade subject
name
Jessi    100     A  python
Emma      95     A    java
Alex      80     B  python

#4 Access Rows by loc[slicing]
      subject grade
name
Jessi  python     A
Emma     java     A

#5 Access Rows by iloc[slicing]
name
Jessi    python
Emma       java
Alex     python
Jessi         c
Name: subject, dtype: object

Pandas의 집계함수

In [ ]:
import pandas as pd
import numpy as np

# 실습 데이터 생성
score = {'sub1': [3, 9, 1, 1, 9],
         'sub2': [2, 9, np.nan, np.nan, 8],
         'sub3': [np.nan, 1, 5, 5, 7],
         'sub4': [np.nan, 3, np.nan, 1, np.nan]}

df = pd.DataFrame(data=score)
print(df)


'''
count() 집계함수 실습
(아래 주석#을 지우고 _____ 란에 실습을 시작하세요.)
'''
print('\n#1 Count Function')
print(df.count())


'''
count 함수에 axis=1 인지 추가한 실습
(아래 주석#을 지우고 _____ 란에 실습을 시작하세요.)
'''
print('\n#2 Count Function with axis=1')
print(df.count(axis=1))


'''
sum() 집계함수 실습
(아래 주석#을 지우고 _____ 란에 실습을 시작하세요.)
'''
print('\n#3 Sum Function')
print(df.sum())


'''
sum() 함수에 skipna=False 인자 추가한 실습
(아래 주석#을 지우고 _____ 란에 실습을 시작하세요.)
'''
print('\n#4 Sum Function with skipna')
print(df.sum(skipna=False))

   sub1  sub2  sub3  sub4
0     3   2.0   NaN   NaN
1     9   9.0   1.0   3.0
2     1   NaN   5.0   NaN
3     1   NaN   5.0   1.0
4     9   8.0   7.0   NaN

#1 Count Function
sub1    5
sub2    3
sub3    4
sub4    2
dtype: int64

#2 Count Function with axis=1
0    2
1    4
2    2
3    3
4    3
dtype: int64

#3 Sum Function
sub1    23.0
sub2    19.0
sub3    18.0
sub4     4.0
dtype: float64

#4 Sum Function with skipna
sub1    23.0
sub2     NaN
sub3     NaN
sub4     NaN
dtype: float64

데이터의 그룹화

In [ ]:
import pandas as pd
import numpy as np

# 실습 데이터 생성
sample = {'product':['a','b','a','b','a','b','a','a'],
          'sensor':['s1','s1','s2','s3','s2','s2','s1','s3'],
          'x':np.arange(1,9),
          'y':np.arange(5,13)}

df = pd.DataFrame(data=sample)
print(df)


'''
product 컬럼 기준으로 그룹화하기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#1 groupby-product')
grouped_product = df.groupby('product')
print(grouped_product)


'''
grouped_product 에 저장된 key와 value 출력하기
주석(#)만 제거하고 실행해보세요.
'''
print('\n#2 key & value')
for key, value in grouped_product:
      print("-----------------------")
      print("key :", key)
      print("value :\n", value)


'''
groupby 결과에 집계함수 적용하기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#3 groupby-product')
grouped_product = df.groupby('product').sum()
print(grouped_product)


'''
product, sensor 기준으로 그룹화하기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#4 groupby-product,sensor')
grouped_product = df.groupby(['product', 'sensor']).sum()
print(grouped_product)


'''
그룹화한 뒤 x 컬럼에 대해서만 집계함수 적용하기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#5 groupby-product,sensor')
grouped_product = df.groupby(['product', 'sensor'])['x'].sum()
print(grouped_product)


'''
그룹화한 뒤 컬럼별 다른 집계함수 적용하기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#6 groupby-product,sensor')
condition = {'x':'max', 'y':'min'}
grouped_product = df.groupby(['product', 'sensor']).agg(condition)
print(grouped_product)

  product sensor  x   y
0       a     s1  1   5
1       b     s1  2   6
2       a     s2  3   7
3       b     s3  4   8
4       a     s2  5   9
5       b     s2  6  10
6       a     s1  7  11
7       a     s3  8  12

#1 groupby-product
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fc22c777b50>

#2 key & value
-----------------------
key : a
value :
   product sensor  x   y
0       a     s1  1   5
2       a     s2  3   7
4       a     s2  5   9
6       a     s1  7  11
7       a     s3  8  12
-----------------------
key : b
value :
   product sensor  x   y
1       b     s1  2   6
3       b     s3  4   8
5       b     s2  6  10

#3 groupby-product
          x   y
product
a        24  44
b        12  24

#4 groupby-product,sensor
                x   y
product sensor
a       s1      8  16
        s2      8  16
        s3      8  12
b       s1      2   6
        s2      6  10
        s3      4   8

#5 groupby-product,sensor
product  sensor
a        s1        8
         s2        8
         s3        8
b        s1        2
         s2        6
         s3        4
Name: x, dtype: int64

#6 groupby-product,sensor
                x   y
product sensor
a       s1      7   5
        s2      5   7
        s3      8  12
b       s1      2   6
        s2      6  10
        s3      4   8

데이터 합치기

In [ ]:
import pandas as pd

# 실습 데이터 생성
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])                   

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])

df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])
                    
print('DF1')
print(df1)
print('\nDF2')
print(df2)
print('\nDF3')
print(df3)
print('\nDF4')
print(df4)


'''
df2, df1 합치기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#1 Concat df2, df1')
result = pd.concat([df2, df1, df3], ignore_index=True)
print(result)


'''
shape 이 서로 다른 df1, df4 합치기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#2 Concat df1, df4')
result = pd.concat([df1, df4])
print(result)


'''
슬라이싱을 통해 일부 데이터 합치기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#3 Concat df1, df4 by slicing')
result = pd.concat([df1[:2], df4[3:]])
print(result)

 
'''
행 기준으로 df1, df4 합치기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#4 Concat df1, df4 by axis=1')
result = pd.concat([df1, df4], axis=1, ignore_index=True)
print(result)

 
'''
교집합으로 데이터 결합하기
주석(#)을 지우고, 주어진 빈칸의 코드를 완성하세요.
'''
print('\n#5 Concat df1, df4 by join=inner')
result = pd.concat([df1, df4], join='inner')
print(result)

DF1
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

DF2
    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

DF3
      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

DF4
    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

#1 Concat df2, df1
      A    B    C    D
0    A4   B4   C4   D4
1    A5   B5   C5   D5
2    A6   B6   C6   D6
3    A7   B7   C7   D7
4    A0   B0   C0   D0
5    A1   B1   C1   D1
6    A2   B2   C2   D2
7    A3   B3   C3   D3
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

#2 Concat df1, df4
     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

#3 Concat df1, df4 by slicing
     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
7  NaN  B7  NaN  D7   F7

#4 Concat df1, df4 by axis=1
     0    1    2    3    4    5    6
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

#5 Concat df1, df4 by join=inner
    B   D
0  B0  D0
1  B1  D1
2  B2  D2
3  B3  D3
2  B2  D2
3  B3  D3
6  B6  D6
7  B7  D7